<h1 class = "text-center mt-4"><%= @article.title%></h1>
<div class="container">
    <div class="col mb-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic"> 
            By: <%= @article.user.name %>
                <%= link_to find_user_profile_image(@article.user, size: 100), user_path(@article.user) %>
            </div>
            
                <div class="card-body">
                    <p class="card-text"> <%= @article.description %> </p>
                    <%= link_to "Listing", articles_path, class: "btn btn-outline-warning" %>
                    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
                    <%= link_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
            <div class="card-footer">
                <small>
                    Created: <%= time_ago_in_words(@article.created_at) %> ago, Edited: <%= time_ago_in_words(@article.updated_at) %> ago
                </small>
            </div>
        </div>
    </div>
</div>

